@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

/* ----------------------- Buttons ----------------------- */
.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: .3s all;
  outline: 0;
}
.btn_white {
  background-color: #fff;
}
.btn_dark {
  background-color: #303030;
  color: #fff;
  border: none;
}
.btn_min {
  height: 50px;
}
.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
}

#menu-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

}

/* ----------------------- Layout Containers ----------------------- */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.divider,
.calculating__divider,
.menu__item-divider {
  height: 1px;
  background-color: rgba(0, 0, 0, .25);
  margin-top: 50px;
}
.divider {
  width: 330px;
  margin: 0 auto;
}

/* ----------------------- Header ----------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 100px;
}
.header__left-block {
  display: flex;
  justify-content: space-between;
  min-width: 550px;
}

.header__logo {
  max-width: 170px;
}

.header__logo img {
  width: 100%;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__link {
  position: relative;
  margin-right: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #303030;
}

.header__link:after {
  content: '';
  position: absolute;
  display: block;
  width: 110%;
  left: -5%;
  bottom: -1px;
  z-index: -1;
  height: 2px;
  background-color: #48c774; 
  border-radius: 2px;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.header__link:hover::after{
  transform: scaleX(1)
}

.header__link:last-child {
  margin-right: 0;
}

/* ----------------------- Sidepanel ----------------------- */
.sidepanel {
  position: fixed;
  left: 60px;
  top: 240px;
  height: 400px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidepanel__text {
  width: 120px;
  height: 120px;
  font-size: 14px;
}
.sidepanel__text span {
  display: flex;
  transform: rotate(-90deg) translateX(-50px);
}
.sidepanel__divider {
  width: 1px;
  height: 165px;
  background-color: #000;
}
.sidepanel__icon {
  width: 24px;
  height: 24px;
}
.sidepanel__icon img {
  width: 100%;
}

/* ----------------------- Preview Section ----------------------- */
.preview {
  padding: 28px 0 100px 0;
  position: relative;
}
.preview__life {
  font-weight: 700;
  font-size: 20px;
  margin-left: 35px;
  margin-top: 35px;
}
.bgc_blue {
  position: absolute;
  right: 0;
  top: -155px;
  width: 50vw;
  height: 900px;
  background: rgba(146, 242, 255, .15);
  z-index: -1;
}

/* ----------------------- Tabs Section ----------------------- */
.tabcontainer {
  display: flex;
  width: 1130px;
  margin: 0 auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
}
.tabcontent {
  width: 850px;
  position: relative;
}
.tabcontent img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.tabcontent video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabcontent__descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.tabcontent:hover .tabcontent__descr{
  opacity: 1;
}



.tabheader {
  width: 280px;
  padding: 35px 30px;
  background-color: #fff;
}
.tabheader h3 {
  font-weight: 700;
  font-size: 16px;
}
.tabheader__items {
  margin-top: 35px;
  padding-left: 26px;
  border-left: 1px solid #000;
}
.tabheader__item {
  font-weight: 300;
  font-size: 18px;
  margin-top: 10px;
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
  transition: .3s all;
}
.tabheader__item_active {
  color: #000;
  font-size: 22px;
  font-weight: 700;
}

/* ----------------------- Offer Section ----------------------- */
.offer {
  padding: 70px 0 100px 0;
  position: relative;
}
.offer .container {
  display: flex;
  justify-content: space-between;
}
.offer .bgc_y {
  position: absolute;
  width: 1109px;
  height: 780px;
  background: rgba(243, 255, 222, .45);
  z-index: -1;
  top: 50px;
}
.offer__text {
  width: 580px;
}
.offer__descr {
  font-size: 18px;
  margin-top: 30px;
  font-weight: 300;
  line-height: 24px;
}
.offer__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.offer__advantages {
  width: 330px;
  margin-top: 50px;
}
.offer__advantages h2 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
}
.offer__advantages h2:first-child {
  margin-top: 70px;
}
.offer__advantages-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}
.offer__slider {
  width: 650px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.offer__slider-counter {
  display: flex;
  width: 180px;
  align-items: center;
  font-size: 24px;
  color: rgba(0, 0, 0, .5);
}
.offer__slider-wrapper {
  width: 100%;
  margin-top: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
}
.offer__slider-prev {
  margin-right: 10px;
  cursor: pointer;
}
.offer__slider-next {
  margin-left: 10px;
  cursor: pointer;
}
.offer__slider #current {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}
.offer__slide {
  width: 100%;
  height: 390px;
}
.offer__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------- Calculating Section ----------------------- */
.calculating {
  padding: 50px 0;
}
.calculating .title {
  text-align: center;
}
.calculating__field {
  width: 100%;
  margin-top: 50px;
  background: rgba(146, 242, 255, .15);
  padding: 30px 0 40px 0;
}
.calculating__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}
.calculating__subtitle:first-child {
  margin-top: 0;
}
.calculating__choose {
  position: relative;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.calculating__choose-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  padding: 0 10px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  border: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  outline: 0;
  transition: .3s all;
}
.calculating__choose-item_active {
  color: #fff;
  background-color: #54ed39;
}
.calculating__choose_medium {
  width: 743px;
  justify-content: space-between;
  margin: 30px auto 0 auto;
}
.calculating__choose_big {
  width: 930px;
  justify-content: space-between;
  margin: 30px auto 0 auto;
}
.calculating__choose_big .calculating__choose-item {
  width: 200px;
}
.calculating__total {
  width: 490px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculating__result {
  font-size: 18px;
  font-weight: 700;
}
.calculating__result span {
  font-size: 42px;
}

/* ----------------------- Menu Section ----------------------- */
.menu {
  padding: 40px 0 50px 0;
}
.menu .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.menu .title {
  text-align: center;
}
.menu__field {
  margin-top: 50px;
  padding: 50px 0;
  width: 100%;
  background: rgba(249, 254, 126, .25);
}
.menu__item {
  width: 320px;
  min-height: 450px;
  background: #fff;
  box-shadow: 0 4px 25px rgba(0, 0, 0, .25);
  font-size: 16px;
  font-weight: 300;
  border-radius: 30px;
}
.menu__item img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.menu__item-subtitle {
  font-weight: 700;
  font-size: 18px;
  padding: 0 20px;
  margin-top: 20px;
}
.menu__item-descr {
  margin-top: 20px;
  padding: 0 20px;
}
.menu__item-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, .25);
  margin-top: 40px;
}
.menu__item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.menu__item-price span {
  font-size: 24px;
  font-weight: 700;
}

/* ------------------------------ Main Menu ------------------------------ */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

#search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#search {
  padding: 10px 20px;
  background-color: #ff6b00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#search:hover {
  background-color: #e55b00;
}

.btn-value{
  width: 150px;
  height: 20px;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.menu__bck {
  /* margin-top: 120px; */
  padding: 50px 0;
  background: rgb(122, 159, 121);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
}

.menu__item {
  width: 300px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px;
  transition: transform 0.3s ease;
  margin-right: 50px;
  margin-left: 50px;
}

.menu__item:hover {
  transform: translateY(-5px);
}

.menu__item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 40px;
  margin-bottom: 10px;
}

.item-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.item-descr {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

.item-divider {
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.item-cost {
  color: #999;
}

.item-total span {
  color: #333;
}

.buy__button {
  background-color: #ff6b00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy__button:hover {
  background-color: #e55b00;
}




/* ----------------------- Order ----------------------- */
.order {
    padding-bottom: 80px;
}

.order .title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
}

.order__form {
    margin-top: 80px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__form img {
    transform: scale(1.5);
}

.order__input {
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}
/* ----------------------- Promotion Section ----------------------- */
.promotion {
  padding: 70px 0 240px 0;
  position: relative;
}
.promotion .container {
  display: flex;
}
.promotion .bgc_y {
  position: absolute;
  width: 50%;
  height: 499px;
  background: rgba(243, 255, 222, .35);
  z-index: -1;
  top: -50px;
  left: 0;
}
.promotion__text {
  width: 50%;
}
.promotion__descr {
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
.promotion__descr span {
  font-weight: 700;
  font-size: 26px;
}
.promotion__timer {
  width: 50%;
}
.promotion__timer .title {
  text-align: right;
}
.promotion__timer .timer {
  margin-top: 60px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion__timer .timer__block {
  width: 102px;
  height: 120px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700;
}

/* ----------------------- Footer ----------------------- */
.footer {
  min-height: 180px;
  background-color: #303030;
  padding: 45px 0 50px 0;
  color: #fff;
}
.footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer .subtitle {
  font-size: 20px;
}
.footer .link {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
}

.footerLogo img {
    max-width: 150px;
    height: auto;
    
}

.footer .call {
  text-align: right;
}



/* ----------------------- Modal ----------------------- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto;
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}

.phone-input {
    display: flex;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0px 20px;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    font-size: 16px;
}

.prefix-select {
    border: none;
    outline: none;
    font-size: 17px;
    background: transparent;
    margin-right: 5px;
}

.phone-number {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
}
.modal .btn {
    display: block;
    width: 280px;
    margin-top: 20px;
    margin: 0 auto;
}


/* -----------------------------Media Queries----------------------------- */

@media (max-width: 992px) {
  .sidepanel, .order__form img {
    transform: scale(1.5);
    display: none;
  }
  .header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .header__left-block {
    flex-direction: column;
    min-width: auto;
  }

  .offer .container,
  .menu .container,
  .promotion .container {
    flex-direction: column;
    align-items: center;
  }

  .order__form {
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
  }

  .offer__slider {
    width: 100%;
    align-items: center;
  }

  .tabcontainer {
    flex-direction: column;
    width: 100%;
  }

  .tabcontent,
  .tabheader {
    width: 100%;
  }

  .tabcontent__descr {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    font-size: 18px;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .btn {
    width: 100%;
  }

  .menu .container {
    flex-direction: column;
    gap: 30px;
  }

  .menu__item {
    width: 100%;
  }

  .calculating__choose,
  .calculating__choose_medium,
  .calculating__choose_big {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .calculating__choose-item {
    width: 80%;
    margin-bottom: 10px;
  }

  .calculating__total {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .order__input {
    width: 100%;
  }

  .modal__content {
    padding: 20px;
  }

  .modal__input,
  .modal .btn {
    width: 100%;
  }
}


@media (max-width: 576px) {
  .title {
    font-size: 26px;
    text-align: center;
  }

  .header__link {
    font-size: 16px;
    margin-right: 20px;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer .call,
  .footer .subtitle {
    text-align: center;
  }

  @media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .offer .bgc_y,
  .promotion .bgc_y {
    width: 100%;
  }
}

}


/* -------------------------Menu--------------------- */
/* B2D2D1; */

